@{
    ViewData["Title"] = "Home";

    Layout = "_HomeLayout";
}

<div class="row">
    <div class="col-md-4">
        <h2>Study smarter</h2>
        <p>
            Flash cards are a powerful study tool, using CloudFlashCard, you can create your own flash cards and 
            associate them with specific yopics. Using flash cards helps you to remember what you learn, because you're 
            presented with the information in a different order every time.
        </p>
        @*<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Active recall</h2>
        <p>
            When you look at the front side of a flashcard and think of the answer, you are engaging a mental faculty 
            known as active recall. In other words, you are attempting to remember the concept from scratch rather than 
            simply staring at the passage in your textbook.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Efficient way</h2>
        <p>
            Flashcards can bear vocabulary, historical dates, formulae or any subject matter that can be learned via a 
            question-and-answer format. Flashcards are widely used as a learning drill to aid memorization. They are often 
            associated with spaced repetition.
        </p>
        
    </div>
</div>
